<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iTunes_Artwork_Export.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <iTunes_Artwork_Export.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value>folder.jpg</value>
            </setting>
            <setting name="MinTracks" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ArtistAlbumMatchPercentage" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="UserSeverityLevel" serializeAs="String">
                <value>Success</value>
            </setting>
            <setting name="SaveOutputDirectory" serializeAs="String">
                <value />
            </setting>
        </iTunes_Artwork_Export.Properties.Settings>
    </userSettings>
</configuration>